body {
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.game {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameboard {
  margin-top: 3vh;
  display: grid;
  grid-template-columns: minmax(70px, 10vw) minmax(70px, 10vw) minmax(70px, 10vw);
  grid-template-rows: minmax(70px, 10vw) minmax(70px, 10vw) minmax(70px, 10vw);
}

button {
  cursor: pointer;
}
.gameboard > button {
  font-size: 8vw;
}

#restart {
  margin-top: 2vh;
  height: 40px;
  width: 100px;
  border-radius: 5px;
}

p {
  margin: 0px;
}
